.absolute{
  /* background-color: red; */
  /* width: 400px; */
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -150px;
}

.success-message {
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 15px -5px #cdcdcd;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
}

.check-container {
  margin-right: 5px;
  color: white;
  height: 22px;
  width: 22px;
  background-color: green;
  border-radius: 50%;
  padding: 5px;

  display: flex;
}